.divider {
    border-top: 2px solid #EA0F0B;
    margin: 1rem;
    width: 373px;
}

.logo {
    height: auto;
    width: 500px;
}

.big_logo {
    height: auto;
    width: 50vw;
    margin-top: 15vh;
}

.bg-card {
    width: 90vw;
}