.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 0s linear;
  }
} */


/* Pallete Colors */
/* https://coolors.co/023e8d-0fcbfa-f0f3bd-ea0f0b-f9dc5c-000f08-7dde92-6f857d */
.App-header {
  /* background-image: #023E8D; */
  /* https://bggenerator.com/ */
  background-image: url("../../assets/bg.png");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
